:root {
  --cursor-default: url('https://p.zero251.xyz/i/2025/04/04/Normal.cur');
  --cursor-pointer: url('https://p.zero251.xyz/i/2025/04/04/Link.cur');
  --cursor-text: url('https://p.zero251.xyz/i/2025/04/04/Text.cur');
}

body {
  cursor: var(--cursor-default), auto;
}

a {
  cursor: var(--cursor-pointer), auto;

  &:hover {
    cursor: var(--cursor-pointer), auto;
  }
}

button {
  cursor: var(--cursor-pointer), pointer;
}

input {
  cursor: var(--cursor-text), text;
}